<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cobi_ui.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
				<key>dateExpires</key>
				<string>19/11/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>syncfusion_flutter_pdfviewer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7SYF462CS7.com.in30days.cobi</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7SYF462CS7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b224be51-5cff-419b-990e-5357204be04e</string>
				<key>dateExpires</key>
				<string>19/11/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.in30days.cobi</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7SYF462CS7</string>
				<key>name</key>
				<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
